html, body {
    height: 100%;
}

.instructions {
    height: 40px;
}

.copy {
    padding: 0;
    border: none;
    background: none;
}

.copy-icon {
    height: 30px;
    padding-bottom: 5px;
}

.example {
    width: 440px;
}
