html, body {
    height: 100%;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

.copy {
    padding: 0;
    border: none;
    background: none;
}

.copy-icon {
    height: 30px;
    padding-bottom: 5px;
}

.example {
    width: 440px;
}

.collapsible {
    cursor: pointer;
    padding: 1px 0px 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: inherit;
    font-weight: 500;
}

.collapsible:before {
    content: '\203A';
    font-weight: bold;
    float: left;
    margin-right: 5px;
    width: 8px;
}

.active:before {
    content: "\2212";
    width: 8px;
}

.content {
    padding-top: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
